<!DOCTYPE html>
<html ng-app="USuniversity">

<head>
    <title>U.S. university selection</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/fp.css">
    <link rel="stylesheet" type="text/css" href="/sidebar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/app.js" type="text/javascript"></script>
    <script src="/fb-login.js" type="text/javascript"></script>
</head>

<body>
    <!-- ------------Page Content---------------- -->
    <header>
        <h1> Find your dream school </h1>
    </header>

    <!-- Side navigation -->
    <div class="sidenav">
        <a id="logout" href="#" onclick="logout()">Logout</a>
        <a>
            <fb:login-button id="fb-btn" size="large" scope="public_profile,email,user_location" onlogin="checkLoginState();">
            </fb:login-button>
        </a>
        <a>
            <div id="profile">
            </div>
        </a>

        <!-- <a href="#">About Us</a> -->

        <div ng-controller="MyController">
            <a ng-click="ShowHide()"> About Us </a>
            <br />
            <br />
            <div id = "about-us" ng-show="IsVisible">CIS550<br>---------<br> Fan Chen<br>Da Kuang<br>Yitong Long<br>Zexi Yu</div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container" ng-controller="searchController">
        <center>
            <form role="form">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-book"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Enter your SAT score" ng-model="sat">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-arrow-up"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="University rank upper limit" ng-model="upperLimit">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-arrow-down"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="University rank lower limit" ng-model="lowerLimit">
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="Submit()">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </form>
        </center>
    </div>
</body>

</html>