<!DOCTYPE html>
<html ng-app="USuniversity">

<head>
    <title>U.S. university selection</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://localhost:5000/sp.css">
</head>

<body ng-controller="tempController">
    <header>
        <h1> Find your dream school </h1>
    </header>
        <div class="container">
            <div class="dropdown" display="inline">
                <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                    sort by<span class="caret"></span>
                </button>
                <button type="button" id="state" display="inline" ng-click="state()"> Find Universities in your state </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" ng-click="rank()">rank</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" ng-click="admRate()">admission rate</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" ng-click="crime()">crime number</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" ng-click="cost()">living cost</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" ng-click="comNum()">company number</a>
                </li>
                </ul>
            </div>
            <!-- <table class="table table-striped"> -->
            <center>
            <table id="univ_table">
                <thead>
                    <tr>
                        <th> Index </th>
                        <th id="univ_name_h" display="inline" scope="col"> University </th>
                        <th id="total_number_h" display="inline" scope="col"> Crime number </th>
                        <th id="living_cost_h" display="inline" scope="col"> Living cost </th>
                        <th id="company_num_h" display="inline" scope="col"> Company number </th>
                        <th id="rank_h" display="inline" scope="col"> Rank </th>
                        <th id="city_h" display="inline" scope="col"> City </th>
                        <th id="adm_rate_h" display="inline" scope="col"> Admission Rate </th>
                        <th id="sat_avg_h" display="inline" scope="col"> SAT Average </th>
                        <th id="website_h" display="inline" scope="col"> Official Website </th>
                        <th id="learn_h" display="inline" scope="col"> Learn More </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in data">
                        <td> {{$index + 1}} </td>
                        <td id="univ_name" display="inline"> {{x.univ_name}} </td>
                        <td id="total_number" display="inline"> {{x.total_number}} </td>
                        <td id="living_cost" display="inline"> {{x.living_cost_index}} </td>
                        <td id="company_num" display="inline"> {{x.company_num}} </td>
                        <td id="rank" display="inline"> {{x.rank}} </td>
                        <td id="city" display="inline"> {{x.city}} </td>
                        <td id="adm_rate" display="inline"> {{x.adm_rate}} </td>
                        <td id="sat_avg" display="inline"> {{x.sat_avg}} </td>
                        <td id="url">
                            <a href="https://{{x.univ_url}}" id="website" display="inline">{{x.univ_url}}</a>
                        </td>
                        <td id="bt">
                            <button id="test" type="button" class="btn btn-success" ng-click="Find($index)">Learn More</button>
                        </td>
                     </tr>
                </tbody>
            </table>
            </center>
        </div>
</body>

</html>
