<!DOCTYPE html>
<html ng-app="USuniversity">
<head>
    <title>U.S. university selection</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/app.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://localhost:5000/tp.css">
</head>
<body ng-controller='detailController'>

<div class="container">
  <h1>{{data2[0].univ_name}}</h1>
  <div id="myCarousel" class="carousel slide" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <p class="title1"> Subject Distribution </p>
        <div id="piechart"></div>
      </div>

      <div class="item">
        <p class="title1"> Discription </p>
        <p class="content"> {{data2[0].description}} </p>
        <p class="content"> Official Website: <span> <a href="https://{{data2[0].univ_url}}" id="website" display="inline">{{data2[0].univ_url}}</a> </span> </p>
      </div>

      <div class="item">
        <p class="title1"> Crime </p>
        <img id="pic" src="https://localhost:5000/crime.jpeg" />
        <p id="content2"> The crime number of this school is: {{data2[0].total_number}} </p>
      </div>

      <div class="item">
        <p class="title1"> Company </p>
        <div class="try">
        <table id="comp">
          <thead>
            <tr>
              <th id="comp_name_h" display="inline" scope="col"> Company Name </th>
              <th id="state_h" display="inline" scope="col"> State </th>
              <th id="city_h" display="inline" scope="col"> City </th>
              <th id="industry_h" display="inline" scope="col"> Industry </th>
              <th id="url_h" display="inline" scope="col"> Company Website </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in data2">
              <td id="comp_name" display="inline"> {{x.comp_name}} </td>
              <td id="state" display="inline"> {{x.state}} </td>
              <td id="city" display="inline"> {{x.city}} </td>
              <td id="industry" display="inline"> {{x.industry}} </td>
              <td id="comp_url">
                <a href="https://{{x.comp_url}}" id="website" display="inline">{{x.comp_url}}</a>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
      </div>

      <div class="item">
        <p class="title1"> Living Cost </p>
        <img id="pic" src="https://localhost:5000/living.jpeg" />
        <p id="content3"> These indices are relative to New York City (NYC).<br> Which means that for New York City, each index should be 100(%).<br> This school has a living cost of {{data2[0].living_cost_index}} </p>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>
</html>
