body {
	background-color: white;
}

h1 {
	font-size: 30px;
  font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	color: rgba(50,20,130,0.5);
	margin-top: 8%;
}

.container {
	margin: 10 10 10 10;
}

#myCarousel {
	margin: 10 50 10 500;
	width: 1140px;
  height: 680px;
}

#piechart {
	margin: 5px 50px 10px 100px;
	width: 1100px;
	height: 600px;
}

.title1 {
	font-size: 25px;
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	color: rgba(30,20,100,0.5);
	margin-top: 2%;
}

.content {
	font-size: 20px;
	font-family: serif;
	font-weight: bold;
	width: 700px;
	color: rgba(30,20,100,0.5);
	margin-top: 8%;
	margin-left: 230px;
}

#content2 {
	font-size: 20px;
	font-family: serif;
	font-weight: bold;
	width: 700px;
	color: rgba(30,20,100,0.5);
	margin-top: 2%;
	margin-left: 230px;
}

#content3 {
	font-size: 15px;
	font-family: serif;
	font-weight: bold;
	width: 700px;
	color: rgba(30,20,100,0.5);
	margin-top: 2%;
	margin-left: 230px;
}

#pic {
	width: 800px;
	height: 500px;
	margin-top: 10px;
	margin-left: 170px;
}

.comp
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
	width: 700px;
	text-align: left;
	border-collapse: collapse;
	background: url('https://localhost:5000/patternb.png');
}
.comp thead tr
{
	background: url('https://localhost:5000/patternb-head.png');
}
.comp th
{
	font-size: 15px;
	font-weight: normal;
	padding: 8px;
	border-bottom: 1px solid #fff;
	color: #039;
}
.comp td
{
	padding: 8px;
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
.comp tbody tr:hover td
{
	color: #339;
	background: #cdcdee;
}

.try{
	margin-left:auto;
	margin-right:auto;
	height:500px;
	width:800px;
	overflow-y: auto;
}
